.body {
    display: flex;
    flex: 1;
    height: 54vh;
    flex-direction: column;
    max-width: 100%;
    border-left: 0.5px solid black;
    animation: fadeIn 0.7s ease-out;
}

.header h1 {
    font-size: 25px;
}

.header h4 {
    font-size: 16px;
    color: rgb(156, 163, 171);
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(60%);
    }

    50% {
        opacity: 0;
    }

    85% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.header {
    margin: 0px 30px
}

.form {
    margin: auto;
    width: 100%;
}

.form form div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

.form form div input {
    padding: 12px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
    border: 1px solid black;
}

.form form div input:focus {
    outline: 2px solid rgb(21, 131, 255);
    border: none;
    transition: all 0.2s ease-in-out;
}


.form form div p {
    color: rgb(255, 58, 58);
    animation: fadeError 0.4s ease-in-out;
}

@keyframes fadeError {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 912px) {
    .body {
        display: flex;
        flex: 1;
        height: 35vh;
        flex-direction: column;
        max-width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .body {
        display: flex;
        flex: 1;
        height: 69vh;
        max-width: 100%;
        border-left: none;
        padding: 12px;
    }
    .form form{
        margin-bottom: 120px;
    }
    .form form div{
        margin: 0px;
        margin-top: 12px;
        padding: 0px;
        /* background-color: red; */
    }
    .header{
        margin: 0px 0px;
        /* background-color: red; */
    }
    .header h4{
        font-size: 13px;
    }
    .header h1{
        font-size: 20px;
    }
}