.body {
    background-color: white;
    border-top: 0.5px solid black;
}

.body_inner {
    margin: 12px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next  button {
    background-color: #4aa4fe;
    border: none;
    border-radius: 5px;
    padding: 8px 25px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.next  button:disabled {
    background-color: #aed4fb;
    cursor: no-drop;
}

.next {
    text-decoration: none;
    color: white;
}

.back {
    cursor: pointer;
    color: #4aa4fe;
    background-color: #ebebeb;
    padding: 7px 25px;
    font-size: 14px;
    border-radius: 5px;
}

@media only screen and (max-width: 540px) {
    .body_inner {
        margin: 12px 5px;
    }
    .next  button {
        padding: 4px 21px;
        font-size: 17px;
    }
    .back {
        padding: 4px 21px;
        font-size: 12px;
    }
}