.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: fadeIn 0.7s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.svg_wrapper {
    margin: auto;
    margin-top: 40px;
}

.svg {
    height: 50px;
    width: 50px;
    padding: .5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(210, 230, 248);
    animation: back 1s 0.3s ease-in forwards;
}

.header {
    margin: auto;
    margin-top: 25px;
    width: 50%;
    display: flex;
    animation: back 1.5s 0.3s ease-in forwards;
}

.header h2 {
    margin: auto;
}

.header p {
    margin: auto;
    color: rgb(141, 141, 141);
    text-align: center;
    font-weight: 700;
    font-size: 16.5px;
}

.schedule {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 12px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(245, 249, 249);
    animation: back 2s 0.3s ease-in forwards;
}

.schedule div {
    width: 70%;
}

.schedule div p {
    margin-left: 16px;
    font-weight: 700;
    font-size: 15px;
}

.buttons {
    margin: auto;
    /* margin-top: 10px; */
    margin-bottom: 30px;
    animation: back 2.3s 0.3s ease-in forwards;
}

.buttons button {
    border: none;
    margin: 20px 0px;
    padding: 13px 25px;
    background-color: rgb(16, 131, 255);
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.buttons div {
    display: flex;
}

.buttons div p {
    margin: auto;
    color: rgb(16, 131, 255);
    font-weight: 700;
    cursor: pointer;
}

@keyframes back {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 540px) {
    .body {
        padding: 12px;
    }

    .header {
        margin: auto;
        margin-top: 25px;
        width: 100%;
    }

    .header h2 {
        text-align: center;
        font-size: 18px;
    }

    .header p {
        font-size: 15px;
        font-weight: 100;
    }

    .schedule {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        /* margin: 0px; */
        margin-top: 18px;
        margin-bottom: 12px;
        padding: 5px 10px;
    }

    .schedule div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 12px;
    }

    .buttons {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .buttons div p {
        font-size: 13px;
    }

    .buttons button {
        font-size: 13px;
        padding: 10px 22px;
    }
}