.header {
    width: 100%;
    height: 4rem;
    background-color: #4aa4fe;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

.logo {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.header li {
    margin: 0 1rem;
}

.header a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.header button {
    font: inherit;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.header a:hover {
    color: #1a5289;
    transition: all 0.3s ease-in-out;
}

.header button:hover {
    background-color: #236ab1;
    transition: all 0.3s ease-in-out;
    color: black;
}

@media only screen and (max-width: 540px) {
    .header {
        padding: 0px 10px;
    }
}